openapi: 3.0.3
info:
  title: Allianz Technology Standards Compliance Guidelines API
  description: API for checking and documenting compliance with Allianz technology standards. Provides endpoints for querying standards definitions, checking API compliance against guidelines, and retrieving standard-specific rules for pagination, sorting, webhooks, authentication, and architecture patterns.
  version: 1.0.0
  contact:
    name: Allianz Technology Standards
    url: https://developers.allianz-trade.com/docs/api-design-guidelines
  x-generated-from: documentation
servers:
- url: https://standards.allianz.com/api/v1
  description: Allianz Technology Standards API production server
security:
- OAuth2: []
tags:
- name: Guidelines
  description: Specific guideline rules for API design areas
paths:
  /guidelines/pagination:
    get:
      operationId: getPaginationGuidelines
      summary: Allianz Technology Standards Get Pagination Guidelines
      description: Retrieve the Allianz standard for API pagination including parameters and response headers.
      tags:
      - Guidelines
      responses:
        '200':
          description: Pagination guidelines retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginationGuideline'
              examples:
                GetPaginationGuidelines200Example:
                  summary: Default getPaginationGuidelines 200 response
                  x-microcks-default: true
                  value:
                    guideline_id: guide-pag-001
                    name: Pagination Standard
                    version: 2.1.0
                    parameters:
                    - name: pageSize
                      default: 20
                      description: Number of items per page
                    - name: page
                      default: 1
                      description: Page number starting from 1
                    - name: totalRequired
                      description: Whether to include total count
                    response_headers:
                    - name: Total-Items
                      description: Total number of items
                    - name: Total-Pages
                      description: Total number of pages
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /guidelines/webhooks:
    get:
      operationId: getWebhookGuidelines
      summary: Allianz Technology Standards Get Webhook Guidelines
      description: Retrieve Allianz webhook implementation standards including security requirements and notification types.
      tags:
      - Guidelines
      responses:
        '200':
          description: Webhook guidelines retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookGuideline'
              examples:
                GetWebhookGuidelines200Example:
                  summary: Default getWebhookGuidelines 200 response
                  x-microcks-default: true
                  value:
                    guideline_id: guide-wh-001
                    name: Webhook Notification Standard
                    version: 1.3.0
                    notification_types:
                    - type: technical
                      description: Fires when job completes
                    - type: functional
                      description: Triggers upon business decision
                    security_requirements:
                    - requirement: HTTPS endpoints only
                    - requirement: IP whitelisting required
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      title: ErrorResponse
      type: object
      description: Standard error response
      properties:
        error:
          type: string
          description: Error code
          example: not_found
        message:
          type: string
          description: Human-readable error description
          example: The specified standard_id does not exist
        request_id:
          type: string
          description: Request identifier for support reference
          example: req-500999
    WebhookGuideline:
      title: WebhookGuideline
      type: object
      description: Allianz webhook implementation standard definition
      properties:
        guideline_id:
          type: string
          description: Unique identifier for the webhook guideline
          example: guide-wh-001
        name:
          type: string
          description: Name of the guideline
          example: Webhook Notification Standard
        version:
          type: string
          description: Version of the guideline
          example: 1.3.0
        notification_types:
          type: array
          description: Supported webhook notification types
          items:
            type: object
        security_requirements:
          type: array
          description: Security requirements for webhook endpoints
          items:
            type: object
    PaginationGuideline:
      title: PaginationGuideline
      type: object
      description: Allianz pagination standard definition
      properties:
        guideline_id:
          type: string
          description: Unique identifier for the guideline
          example: guide-pag-001
        name:
          type: string
          description: Name of the guideline
          example: Pagination Standard
        version:
          type: string
          description: Version of the guideline
          example: 2.1.0
        parameters:
          type: array
          description: Standardized query parameters for pagination
          items:
            type: object
        response_headers:
          type: array
          description: Standard response headers for pagination
          items:
            type: object
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 client credentials for Allianz standards API
      flows:
        clientCredentials:
          tokenUrl: https://standards.allianz.com/oauth2/token
          scopes:
            standards:read: Read technology standards
            compliance:check: Run compliance checks
